.SearchPosts{
  height: auto;
  width: 220px;
  background-color: #eee;
  position: fixed;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  .searchPost{
    height: 100px;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    border: 1px solid #cbcaca;
    .rightSide{
      img{
        height: 50px;
        margin-top: 0.3rem;
      }
      p{
        font-size: 0.75rem;
        color: rgba(235, 0, 40, 1);
      }
    }
  }
}
@media (max-width: 900px){
  .SearchPosts{
    top: 65px;
  }
}
@media (max-width: 375px){
  .SearchPosts{
    top: 75px;
  }
}